.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 27, 42, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  
}

.mobile-menu.open {
  transform: translateX(0);
}

.close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--fundo);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.mobile-nav-links a {
  font-size: 1.5rem;
  color: var(--cinza-claro);
  text-decoration: none;
}